[Desktop Entry]
Type=Application
Name=Immersion
Comment=Automatic version history for creative projects
Exec=immersion
Icon=io.github._404oops.immersion
Categories=AudioVideo;Graphics;Utility;
Terminal=false
StartupNotify=true
StartupWMClass=io.github._404oops.immersion
