[Desktop Entry]
Type=Application
Name=Immersion
Comment=Automatic project versioning
Exec=Immersion
Icon=immersion
Terminal=false
Categories=AudioVideo;Audio;Utility;
